@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-main {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 70%;
    margin: auto;
    padding-top: 40px;
}

.start-btn {
    text-align: right;
}

.start--new {
    padding: 15px 30px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1C0A0A;
    border-radius: 10px;
}

.d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
}

.card-header {
    background-color: #1C0A0A;
    color: #fff;
    flex: 0 0 45%;
    min-height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#coin-spin {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
}

.progress {
    color: black;
    background-color: #ffffff;
    text-align: left;
    padding-top: 20px;
}


/* .change-coin {
    width: 50px;
    position: absolute;
    top: 20px;
} */

.spin {
    padding: 20px;
    background-color: #FF5959;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.winner {
    flex: 0 0 45%;
}

.content-box {
    padding: 10px 0;
}

.content-body {
    padding: 10px;
}

.local-storage {
    position: relative;
    padding: 20px 0;
}

label {
    position: absolute;
    top: 0px;
}

input {
    padding: 5px;
    margin-right: 5px;
}

.select {
    padding: 5px 30px;
    border-radius: 5px;
    border: 0;
    margin: 0 8px 0 0;
}

.btn-add {
    padding: 5px 40px;
    font-size: 14px;
    color: #ffffff;
    background-color: #1C0A0A;
    border: 0;
    border-radius: 5px;
}

.current-bets h3 {
    padding: 15px 0 0;
}

.list-add {
    padding-top: 5px;
}

.total-bet {
    margin-top: 20px;
}