@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    background-color: rgb(206, 22, 181);
    color: #FFF;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}

button:focus {
    outline: none;
}

button .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale .5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}