@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.pannel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.pannel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    writing-mode: vertical-rl;
}

.pannel.active {
    flex: 5;
    opacity: 1;
}

.pannel.active h3 {
    opacity: 1;
    writing-mode: unset;
    transition: opacity 0.3s ease-in-out 0.4s;
    transition: writing-mode 0.5s ease-in;
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }
    .pannel:nth-of-type(4),
    .pannel:nth-of-type(4) {
        display: none;
    }
}