* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    color: #e67e22;
}

.box_shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 40px auto;
    border-radius: 5px;
}

.shadow_1 {
    box-shadow: 0px 0px 20px black;
}

.shadow_2 {
    border: 1px solid gray;
    box-shadow: 10px 0px 1px gray;
}

.shadow_3 {
    border: 1px solid gray;
    box-shadow: 0 10px 2px gray;
}

.shadow_4 {
    box-shadow: 3px 3px 5px rgb(206, 45, 45), 6px 6px 5px rgb(16, 206, 16), 9px 9px 5px rgb(37, 37, 182)
}