@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background: linear-gradient(150deg, #00aced, #00aeed8c, #cd201f17, #3b589891, #3b5998);
    color: #fffffff8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

.fa-youtube {
    color: #cd201f;
}

.fa-twitter {
    color: #00aced;
}

.fa-facebook {
    color: #3b5998;
}

.hide {
    display: none;
}

.hidden-modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.modal {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: red;
}

.icon {
    background-color: #FFFFFF;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.icon:focus {
    outline: 0;
}

.closeBtn {
    position: absolute;
    top: 4rem;
    right: 4rem;
    background-color: #cd201f;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.icon .line {
    background-color: #5290f9;
    height: 7px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 4px;
    transition: transform 0.6s linear;
}

.icon .line-2 {
    top: auto;
    bottom: 10px;
}

.btn.active .icon .line-1 {
    transform: rotate(-765deg) translateY(8px);
}

.btn.active .icon .line-2 {
    transform: rotate(765deg) translateY(-8px);
}


/* .btn.active .icon .line-3 {
    transform: rotate(-765deg) translateY(20.5px);
    opacity: 0;
}

.btn.active .icon .line-4 {
    transform: rotate(765deg) translateY(-20.5px);
    opacity: 0;
} */


/* information */

.insta-info {
    width: 150px;
    height: 200px;
    padding: 5px;
    background-color: orange;
    text-align: center;
    transition: transform height 5s ease;
    border-radius: 5px;
}

.hide-1 {
    display: none;
}

.hide-2 input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

.hide-2 input:focus {
    outline: 0;
}

@media (max-width: 580px) {
    body {
        flex-direction: column;
        background: linear-gradient(180deg, #00aced, #cd201f17, #3b5998);
    }
}