* {
    margin: 0;
    padding: 0;
}

.linked img {
    width: 150px;
}

.linked {
    display: flex;
    color: #0B66C2;
    font-size: 26px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    height: 100px;
}

.link a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    padding: 0 20px;
}

.link a:first-child {
    border-right: 1px solid gray;
}

button {
    /* padding: 7px;*/
    /* border-radius: 35%; */
    /* border-top-left-radius: 31px; */
    border-radius: 32px;
    width: 110px;
    font-size: 18px;
    height: 43px;
    border: 1px solid #0B66C2;
    color: #0B66C2;
    background-color: white;
}


/*hover-effect*/

button:hover {
    color: white;
    background-color: #0B66C2;
}

.link a:hover {
    color: #0B66C2;
}