        * {
            margin: 0;
            padding: 0;
        }
        /* HEADER-PART-ONLY */
        
        header {
            border-bottom: 1px solid #b3b2b2;
            box-shadow: 5px 0px 9px gray;
            position: sticky;
        }
        
        header img {
            width: 115px;
            margin: 5px 10px 0 0;
        }
        
        .header-container {
            background-color: #DB2335;
            position: sticky;
        }
        
        .main-menu {
            display: flex;
            align-items: center;
            width: 80%;
            margin: auto;
            justify-content: space-around;
        }
        
        .logo-input {
            display: flex;
            align-items: center;
        }
        
        .logo-input input {
            width: 515px;
            padding: 11px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border: none;
        }
        
        .logo-input .fa {
            border-bottom-right-radius: 2px;
            color: red;
            background-color: #ffffff;
            padding: 10.5px;
            border-top-right-radius: 2px;
            border-left: 1px solid #c0c0c0;
        }
        
        .main-menu-right li {
            display: inline-block;
        }
        
        .main-menu-right li a {
            color: #fff;
            text-decoration: none;
            padding: 11px 20px;
        }
        
        .main-menu-right .fa {
            margin: 0 5px;
        }
        
        img {
            width: 100px;
        }
        /* --------------- */
        /* SUB NAV-BAR */
        
        .menu-wrapper {
            margin: 0 auto;
            width: 74%;
        }
        
        .nav a {
            text-decoration: none;
        }
        
        .nav li {
            list-style: none;
            width: 220px;
        }
        /* Menu Container */
        
        .nav {
            display: inline-block;
            position: relative;
            cursor: default;
            z-index: 500;
        }
        /* Menu List */
        
        .nav>li {
            display: block;
            float: left;
        }
        /* Menu Links */
        
        .nav>li>a {
            position: relative;
            display: block;
            padding: 15px 20px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 13px;
            color: #000000;
            text-shadow: 0 0 1px rgba(0, 0, 0, .35);
            transition: all .3s ease;
        }
        
        .nav>li:hover>a {
            background: #ffffff;
            color: #da2234;
            border-bottom: 2px solid #da2234;
        }
        
        .nav>li:first-child>a {
            border-radius: 3px 0 0 3px;
        }
        /* Menu Dropdown */
        
        .nav>li>div {
            position: absolute;
            display: block;
            width: 800px;
            top: 47px;
            left: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            background: #fff;
            border-radius: 0 0 3px 3px;
            transition: all .3s ease .15s;
            box-shadow: 0 0 10px gray;
        }
        
        .nav>li:hover>div {
            opacity: 1;
            visibility: visible;
            overflow: visible;
        }
        /* Menu Content Styles */
        
        .nav .nav-column {
            display: block;
            width: 20%;
            padding: 2.5%;
        }
        
        .nav .nav-column {
            float: left;
            width: 28%;
            padding: 2.5%;
        }
        
        .nav .nav-column h3 {
            margin: 20px 0 10px 0;
            line-height: 18px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 14px;
            color: #372f2b;
            text-transform: uppercase;
        }
        
        .nav .nav-column li a {
            display: block;
            line-height: 26px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 13px;
            color: #888888;
        }
        
        .nav .nav-column li a:hover {
            color: #666666;
        }
        
        .nav-column-col {
            background: #efeeee;
            height: 256px;
        }