* {
    margin: 0;
    padding: 0;
}


/* HEADER-SECTION */

header {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
    align-items: center;
    padding-top: 1rem;
}

.nav-bar {
    list-style: none;
    display: inline;
    padding: 10px;
}

.nav-bar a {
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.link a {
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0 0 0.5rem #d3d3d3;
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #43CB83;
}

.nav-bar a:hover {
    color: green;
    text-decoration: underline;
}

.link a:hover {
    text-decoration: none;
}

.logo-img {
    width: 4.3rem;
    padding: 0.5rem;
}


/* MAIN-SECTION STARTS */

.section-container {
    background: url(./img/bg\ shape\ Kopie\ 3@1X.png);
    background-repeat: no-repeat;
    background-position: top 0rem right -20rem;
    background-size: 45%;
}

.section-banner {
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
    align-items: center;
}

.layer-1 {
    width: 100%;
    padding: 4rem 2rem 0 0;
}

.layer-2 {
    width: 100%;
}

.section-content h1 {
    font-size: 44px;
    color: #43CB83;
    max-width: 30rem;
    line-height: 3rem;
}

.section-content p {
    font-size: 18px;
    color: #5A6E79;
    max-width: 27rem;
    padding-top: 1rem;
    line-height: 2rem;
    padding-bottom: 4rem;
}

.section-content li {
    list-style: none;
}

.section-content li a {
    text-decoration: none;
    border-radius: 2rem;
    padding: 20px 30px;
    background: #43CB83;
    color: #ffffff;
}

.section-box {
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: auto;
    padding-top: 3rem;
}

.box-1 {
    padding: 10px;
    width: 20rem;
    vertical-align: center;
    height: 15rem;
    text-align: center;
    margin-left: 1.5rem;
    background: #F1E3FC;
    flex-direction: column;
}

.box-color {
    background: #E3FCFA;
}

.box-color-1 {
    background: #FCF0E3;
}

.box-color-2 {
    background: #E0BFB6;
}

.box-color-3 {
    background: #F3FCE3;
}

.box-color-4 {
    background: #E3F3FD;
}

.box-1 p {
    color: #252C3A;
    font-size: 30px;
    padding: 0.5rem;
}

.box-image {
    padding-top: 3rem;
    width: 5rem;
}


/* SECTION-2 */

.section-container-1 {
    background-image: url('./img/bg\ shape\ Kopie\ 3@1X.png'), url('./img/Group\ 10@1X.png');
    background-position: top 7rem left -17rem, top 23rem left 12rem;
    background-size: 52%, 22%;
    background-repeat: no-repeat;
}

.section-box-2 {
    display: flex;
    max-width: 60%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.vadim {
    background-repeat: no-repeat;
    flex: 0 0 40%;
    background-image: url(./img/Ellipse\ 2@1X.png);
    background-size: 94%;
}

.section-content-1 {
    flex: 0 0 60%;
    padding-left: 2rem;
}

.flower-img {
    width: 20rem;
}

.flower {
    width: 10rem;
}

.vadim-image {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    padding: 1rem;
    border: 1rem solid #DDF1FA;
}

.section-content-1 h2 {
    font-size: 40px;
    color: #43CB83;
    max-width: 27rem;
    padding: 1rem;
}

.section-content-1 p {
    font-size: 18px;
    max-width: 29rem;
    padding: 1rem;
    line-height: 1.5rem;
}

.information {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.information h3 {
    font-size: 40px;
}

.information p {
    padding: 0;
    font-size: 18px;
}

.students {
    color: #FFBA00;
}

.courses {
    color: #FF5F72;
}

.videos {
    color: #43CB83;
}


/* SIGN-IN FORM  */

.signin-form {
    display: flex;
    justify-content: space-around;
    background: #F1E3FC;
}

.vector-1 {
    display: flex;
    align-items: center;
}

.vector-content {
    padding: 2rem;
}

.vector-2 {
    display: flex;
}

.sign-up h2 {
    text-align: center;
    padding: 1rem;
}

.sign {
    padding: 2rem;
    max-width: 400px;
    height: 500px;
    background-image: url(./img/bg\ shape\ Kopie\ 3@1X.png);
    background-repeat: no-repeat;
    background-size: 38rem;
    margin: -4.5rem 0;
    background-color: #ffffff;
    background-position: top -9rem right -14rem;
    box-shadow: 0 0 0.5rem #bfbebe;
    border-radius: 0.4rem;
}

input {
    background: transparent;
    width: 100%;
    max-width: 370px;
    outline: none;
    padding: 1rem;
    margin-top: 0.5rem;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid gray;
}

.vehicle1 {
    width: auto;
    padding-top: 1rem;
}

.anchor {
    display: flex;
    padding: 2rem 0.5rem;
    align-items: center;
}

.anchor p {
    max-width: 8rem;
    text-align: left;
    padding-left: 4rem;
    color: #5A6E79;
}

.anchor a {
    text-decoration: none;
    padding: 15px 40px;
    background: #43CB83;
    color: #ffffff;
    border-radius: 25px;
}

.form-link {
    color: #87959C;
    text-align: left;
}

.vector-male {
    padding-top: 2rem;
}

.vector-content h2 {
    font-size: 35px;
    line-height: 2rem;
    color: #252C3A;
}

.vector-content p {
    font-size: 16px;
    line-height: 2rem;
    color: #252C3A;
    text-transform: uppercase;
}

.vector-content span a {
    color: #FF5F72;
    text-decoration: none;
}


/* CONTENT-SECTION */

.section-3 {
    max-width: 60%;
    margin: auto;
    padding: 5rem 0;
}

.content-section {
    padding: 5rem 0;
    border-bottom: 1px solid #000;
}

.content-section h2 {
    font-size: 40px;
    color: #43CB83;
    line-height: 5rem;
}

.inner-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-text p {
    font-size: 16px;
    line-height: 1.5rem;
    max-width: 611px;
}

.inner-text a {
    text-decoration: none;
    background-color: #43CB83;
    padding: 15px 30px;
    border-radius: 25px;
    color: #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 4rem 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
    max-width: 455px;
    align-items: center;
}

.icons p {
    text-transform: uppercase;
    color: #5A6E79;
}

.grid h3 {
    font-size: 30px;
    line-height: 2rem;
    color: #252C3A;
    max-width: 400px;
}

.grid p {
    max-width: 446px;
    font-size: 16px;
    color: #5A6E79;
    padding: 0.5rem 0;
}

.icons .fa {
    padding-right: 0.4rem;
}

.icons span {
    padding-right: 1.5rem;
}

.heart {
    color: #43CB83;
}

.fafa {
    padding-left: 0.4rem;
}


/* FOOTER-SECTION */

footer {
    background-color: #252C3A;
}

.section-footer {
    max-width: 70%;
    margin: auto;
    display: flex;
    padding: 3rem 0 4rem;
}

.information-section {
    flex: 0 0 24%;
}

.information-section p {
    max-width: 283px;
    font-size: 16px;
    line-height: 1.3rem;
    color: #dbd5d5;
    padding-bottom: 1rem;
    border-bottom: 1px solid #7c7c7cc7;
}

.information-section h4 {
    padding: 1rem 0 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fixes h4 {
    padding: 1.5rem 0 3rem;
}

.list-icons {
    padding: 1rem 0;
}

.fa-facebook-official {
    color: #1962A8;
}

.list-icons li {
    display: inline;
    list-style: none;
    padding: 0.6rem;
}

.list-icons li a {
    color: #999898;
}

.fixes li {
    display: block;
    list-style: none;
    padding: 0.5rem 0;
}

.fixes li a {
    text-decoration: none;
    color: #ffffff;
}

.fixes input {
    width: 100%;
    max-width: 100px;
}

.get-help {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.get-help input {
    width: 100%;
    max-width: 173px;
    padding: 0.5rem;
    border: none;
}

.get-help a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.9rem;
    background-color: #43CB83;
    text-transform: uppercase;
}

.footer-lastpart {
    background-color: #1D232E;
}

.footer-last {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: auto;
    padding: 2rem 0;
    align-items: center;
    color: #6B6B6B;
    font-size: 14px;
}

.footer-last li {
    display: inline;
}

.footer-last li a {
    color: #6B6B6B;
    padding: 0 1rem;
    font-size: 14px;
    text-decoration: none;
}


/* ---------------------------------- */


/* MOBILE FIRST RESPONSIVE */


/* ---------------------------------- */